@import "+/mixins.scss";

/* The messages pane */
.messages-pane {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  @include display-flex-column;
  height: 100%;

  /* The title */
  &__title {
    width: 100%;
    flex-basis: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #eee;

    @include media("<=tablet") {
      display: none;
    }
  }
}
