@import "+/mixins.scss";

.items-container {
  @include display-flex-column;
  flex: 1 1 auto;
  background: var(--body-bg);
  height: 100%;

  &__loader-container {
    @include display-flex-row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }

  &__items {
    height: 0;
    flex-direction: inherit;
    flex: 1 1 auto;
    display: flex;
    overflow-y: auto;
  }

  &__no-msgs-msg {
    @include box(100%);
    @include display-flex-row;
    @include flex-full-content-center;
    flex: 1 0 100%;
    padding: 16px;
    box-sizing: border-box;
    line-height: 1.3rem;

    &__icon-wrapper {
      font-size: 3.5rem;
      margin-right: 16px;
    }

    &__text {
      font-size: 0.9rem;
    }
  }
}
