@import "+/mixins.scss";

:root {
  // Theme settings
  // --theme-colors-green-one: #033549;
  // --theme-colors-green-two: #046564;
  // --theme-colors-blue: #031534;
  // --theme-colors-yellow: #ccb381;
  // --theme-colors-beige: #e8ddcb;
  --theme-colors-white-font: #fff;
  --theme-colors-dark-grey: rgb(122, 122, 122);

  --theme-colors-green-one: #351330;
  --theme-colors-green-two: #424254;
  --theme-colors-blue: #64908A;
  --theme-colors-yellow: #E8CAA4;
  --theme-colors-beige: #CC2A41;
  --theme-colors-grey-lighter: #464646;

  --theme-main-color: var(--theme-colors-green-one);
  --theme-first-font: "B612";

  // Heading settings ("h[1-6]" tags)
  --heading-font: var(--theme-first-font);
  --heading-color: var(--body-color);

  // Paragraph settings ("p" tags)
  --paragraph-line-height: 28px;
  --paragraph-margin: 0 0 25px 0;

  // Link settings ("a" tags)
  --link-text-decoration: none;

  // Body settings
  --body-bg: var(--theme-colors-green-two);
  --body-color: var(--theme-colors-white-font);

  // Borders
  --default-border-color: var(--theme-colors-grey-lighter);
  --default-border: 1px solid var(--default-border-color);

  // Scrollbar
  --scrollbar-length: 6px;
  --scrollbar-bg: #eee;
  --scrollbar-thumb-length: 4px;
  --scrollbar-thumb-bg: #1c1c1c;
  --scrollbar-thumb-bg-hover: lighten(var(--scrollbar-thumb-bg), 5%);
  --scrollbar-thumb-bg-focus: lighten(var(--scrollbar-thumb-bg), 10%);
  --scrollbar-thumb-bg-active: lighten(var(--scrollbar-thumb-bg), 15%);

  // Sidebar settings
  --sidebar-width: 80px;
  --sidebar-bg: var(--body-bg);
  --sidebar-bg-hover: var(--sidebar-bg);
  --sidebar-bg-active: var(--sidebar-bg);
  --sidebar-color: var(--body-color);
  --sidebar-color-hover: var(--theme-colors-yellow);
  --sidebar-color-active: var(--theme-colors-dark-green);
  --sidebar-font-size: 1rem;
  --sidebar-width: 80px;
  --sidebar-border-right: var(--default-border);
  --sidebar-mobile-height: 80px;
  --sidebar-nav-mobile-items-bg: #fff;
  --sidebar-mobile-btn-bg-hover: var(--sidebar-bg);
  --sidebar-mobile-btn-color-hover: var(--sidebar-color-hover);

  // Logo
  --logo-color: var(--theme-colors-blackboard);
  --logo-font-size: 24px;

  // Modals
  --modal-overlay-bg: rgba(0, 0, 0, 0.65);
  --modal-padding: 32px 24px;
  --modal-border: var(--default-border);
  --modal-bg: var(--body-bg);
}

* {
  font-family: var(--theme-first-font);
}

/* The outer HTML elements */
html,
body {
  height: 100%;
}

/* The body element */
body {
  margin: 0;
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

/* The heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: (--heading-font-weight);
  color: var(--heading-color);
}

/* The paragraph */
p {
  line-height: var(--paragraph-line-height);
  margin: var(--paragraph-margin);
}

/* Link */
a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  &:hover {
    color: var(--link-color-hover);
  }

  &:focus {
    color: var(--link-color-focus);
  }
}
